<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
	<meta name="description" content="">
	<meta name="author" content="">
	<link rel="icon" href="../../static/favicon.ico"/>
	
	<title>Climb4U</title>
	
	<!-- Bootstrap core CSS -->
	<link href="../static/css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
	<link href="../static/css/bootstrap.css" rel="stylesheet" th:href="@{/css/default.css}"/>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
</head>
<body>

<div th:replace="fragments/header :: header">...</div>
<div class="spaceBreaker"></div>

<section class="page-section shadow ashGrey">
	<div class="container">
		<h1 class="h3 mb-3 font-weight-normal">New Site</h1>
		<form class="form-signin col-sm-12" action="#" th:object="${modifySite}" method="POST">
			<div class="form-group">
				<label th:for="${modifySite.name}">Nom</label>
				<input th:field="*{name}" class="form-control" required>
			</div>
			
			<div class="form-group">
				<label th:for="${modifySite.departmentId}">Départment</label>
				<select class="form-control" th:field="*{departmentId}">
					<th:block th:each="department: ${departmentList}">
						<option th:value="${department.id}" th:text="${department.numDepartment + ' - ' + department.name}"></option>
					</th:block>
				</select>
			</div>
			
			<div class="form-group">
				<label th:for="${modifySite.type}">Type</label>
				<select class="form-control" th:field="*{type}">
					<option value="Bloc">Bloc</option>
					<option value="Falaise">Falaise</option>
				</select>
			</div>
			
			<div class="form-group">
				<label th:for="${modifySite.height}">Hauteur</label>
				<input type="number" th:field="*{height}" class="form-control" required>
			</div>
			
			<div class="form-group">
				<label th:for="${modifySite.coverImage}">Image de couverture<i> (<a href="https://imgur.com">imgur</a> est recommendé pour stocker des photos gratuitement)</i></label>
				<input th:field="*{coverImage}" class="form-control" required>
			</div>
			
			<div class="form-group">
				<label th:for="${modifySite.location}">Google maps (Ouvrir votre locale avec google maps et copier le lien partagé)</label>
				<input th:field="*{location}" class="form-control" required>
			</div>
			
			<div class="form-group">
				<label th:for="${modifySite.description}">Description</label>
				<textarea th:field="*{description}" class="form-control" rows="3"></textarea>
			</div>
			
			<div class="form-group">
				<label th:for="${modifySite.accessNotes}">Informations d'àccès</label>
				<textarea th:field="*{accessNotes}" class="form-control" rows="3"></textarea>
			</div>
			<button class="btn btn-lg btn-primary btn-block" type="submit">Modifier Site</button>
		</form>
		</form>
	</div>
</section>

<section class="page-section">
</section>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="../../js/bootstrap.js" th:href="@{/js/bootstrap.js}"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
</body>
</html>