<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
			xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
	<meta name="description" content="">
	<meta name="author" content="">
	<link rel="icon" href="../static/favicon.ico"/>
	
	<title>Climb4U</title>
	
	<!-- Bootstrap core CSS -->
	<link href="../static/css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
	<link href="../static/css/bootstrap.css" rel="stylesheet" th:href="@{/css/default.css}"/>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
</head>
<body>

<div th:replace="fragments/header :: header">...</div>
<div class="spaceBreaker"></div>

<section class="page-section shadow ashGrey">
	<div class="container">
		<div class="row">
			<a href="/sites/" class="col-sm-2"><i class="fa fa-long-arrow-alt-left"></i> Retour</a></div>
		<br>
		<div class="alert alert-success alert-dismissible fade show" role="alert" th:if="${created}">
			<strong th:text="${created}">[...]</strong> créé avec succès!
			<button type="button" class="close" data-dismiss="alert" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
		<div class="alert alert-success alert-dismissible fade show" role="alert" th:if="${visibility}">
			La visibilite de <strong th:text="${visibility}">[...]</strong> a ete change avec succès!
			<button type="button" class="close" data-dismiss="alert" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
		<div class="alert alert-success alert-dismissible fade show" role="alert" th:if="${official}">
			Le status de "Amis de escalade" a ete change avec succès!
			<button type="button" class="close" data-dismiss="alert" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
		<div class="alert alert-success alert-dismissible fade show" role="alert" th:if="${modified}">
			<strong th:text="${modified}">[...]</strong> a ete mis a jour avec succès!
			<button type="button" class="close" data-dismiss="alert" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
		<div>
			<h1><span th:text="${site.name}">[...]></span><span th:if="${site.official}"><i class="fa fa-star"></i></span></h1>
			<div class="row" th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')') || #authorization.expression('hasRole(''ROLE_OFFICIAL'')')}">
				<a th:href="'/user/sites/toggleOfficial/' + ${site.id}">
					<button class="btn-danger" th:if="${site.official}">Enlever "Amis d'escalade" <i class="fa fa-star"></i></button>
					<button class="btn-primary" th:unless="${site.official}">Donner "Amis d'escalade" <i class="fa fa-star"></i></button>
				</a>
			</div>
			<hr>
			<br>
			<div class="row">
				<div class="col-md-6 text-center">
					<img th:src="${site.coverImage}" th:alt="'CoverImage' + ${site.id}" style="max-width: 100%">
					<div class="spaceBreaker"></div>
				</div>
				<div class="col-md-6">
					<p><b>Département:</b></p>
					<p th:text="${site.department.numDepartment + ' - ' + site.department.name}"></p>
					<p><b>Google maps locale:</b></p>
					<p><a th:href="${site.location}" target="_blank">Ouvrir la carte</a></p>
					<p><b>Description:</b></p>
					<p th:text="${site.description}">[...]</p>
					<p><b>Cotation:</b></p>
					<p th:text="${site.getMinDiff()} + ' - ' + ${site.getMaxDiff()}">[...]</p>
					<p><b>Hauteur:</b></p>
					<p th:text="${site.height}">[...]</p>
					<p>Topos disponibles <a th:href="'/sites/' + ${site.id} + '/topoRedirect'">ici</a></p>
				</div>
			</div>
			<br>
			<hr>
			<div>
				<div class="col-md-12">
					<p><b>Informations d'àccès:</b></p>
					<p th:text="${site.accessNotes}">[...]</p>
				</div>
				<div class="row">
					<div class="col-md-3">
						<p><b>Créé par:</b> <span th:text="${site.createdBy.username}"></span></p>
					</div>
					<div class="col-md-3" th:if="${session.authUser != null and session.authUser.id == site.createdBy.id}">
						<p><b>Visible:</b>
							<span th:if="${site.available}">Oui</span>
							<span th:unless="${site.available}">Non</span>
						</p>
					</div>
				</div>
			</div>
			<div class="row float-right" th:if="${session.authUser != null and session.authUser.id == site.createdBy.id}">
				<a th:href="'/user/sites/toggleVisible/' + ${site.id}">
					<button class="btn-danger" th:if="${site.available}"><i class="fa fa-eye-slash"></i></button>
					<button class="btn-primary" th:unless="${site.available}"><i class="fa fa-eye"></i></button>
				</a>
				<a th:href="'/user/sites/modifySite/' + ${site.id}"><button class="btn-primary"><i class="fa fa-pencil-alt"></i></button></a>
				<a th:href="'/user/sites/deleteSite/' + ${site.id}"><button class="btn-danger"><i class="fa fa-trash"></i></button></a>
			</div>
		</div>
		
		<div class="jumbotron" th:unless="${site}">
			<span>
				<h3>404 Not found</h3>
				<p>We seem to have lost what you were looking for...</p>
			</span>
		</div>
	</div>
</section>

<section class="page-section">
	<div class="container">
		<h1 class="display-4">Sectores</h1>
		<hr/>
		<table class="table">
			<thead class="thead-dark">
			<tr>
				<th scope="col">Nom</th>
				<th scope="col">Nombre de voies</th>
				<th scope="col">Cotations</th>
				<th scope="col">Lien</th>
				<th scope="col"  th:if="${session.authUser != null and session.authUser.id == site.createdBy.id}">Options</th>
			</tr>
			</thead>
			<tbody>
				<th:block th:each="sector : ${sectorList}">
					<tr>
						<th scope="row" th:text="${sector.name}"></th>
						<td th:text="${#lists.size(sector.ascentList)}"></td>
						<td th:text="${sector.getMinDiff()} + ' - ' + ${sector.getMaxDiff()}">[...]</td>
						<td><a th:href="'/sites/sectors/' + ${sector.id}">Ouvrir sector</a></td>
						<td scope="col"  th:if="${session.authUser != null and session.authUser.id == site.createdBy.id}">
							<a th:href="'/user/sites/sectors/modify/' + ${sector.id}"><button class="btn-primary"><i class="fa fa-pencil-alt"></i></button></a>
							<a th:href="'/user/sites/sectors/delete/' + ${sector.id}"><button class="btn-danger"><i class="fa fa-trash"></i></button></a>
						</td>
					</tr>
				</th:block>
			</tbody>
		</table>
		
		<div th:if="${session.authUser != null and session.authUser.id == site.createdBy.id}" class="float-right">
			<a th:href="'/user/sites/sectors/new/' + ${site.id}"><button type="button" class="btn btn-light"><i class="fa fa-plus"></i> Nouveau sector</button></a>
		</div>
	</div>
</section>

<section class="page-section">
	<div class="container">
		<h1 class="display-4">Commentaires</h1>
		<hr/>
		<th:block th:each="comment : ${commentList}">
			<div class="row align-items-center justify-content-center text-center">
				<div class="card col-md-12">
					<div class="card-body">
						<div class="row">
							<div class="card-body shadow col-md-10">
								<div class="card-body">
									<p class="card-text" th:text="${comment.text}"></p>
								</div>
							</div>
							<div class="card-text col-md-2 align-middle">
								<img th:if="${comment.createdBy.profileImage}" th:src="${comment.createdBy.profileImage}" alt="Climber" style="max-width: 50px; max-height: 50px;">
								<img th:unless="${comment.createdBy.profileImage}"src="../static/img/climberThumbnail.jpg" th:src="@{/img/climberThumbnail.jpg}" alt="Climber" style="max-width: 50px; max-height: 50px;">
								<p>
									<span th:text="${comment.createdBy.username}"></span>
								</p>
							</div>
						</div>
						<div class="row" th:if="${comment.lastEditedBy != null}">
							<pre><br><b> Modifie par:</b> <span th:text="${comment.lastEditedBy.username}">[...]</span><br><b>Raison:</b> <span th:text="${comment.modification_reason}">[...]</span></pre>
						</div>
						<hr/>
						<div th:if="${session.authUser != null}">
							<div th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')') && comment.createdBy.username != session.authUser.username}" class="row float-right text-right">
								<div class="float-right">
									<a th:href="'/user/sites/modifyComment/' + ${comment.id}"><button class="btn-primary"><i class="fa fa-pencil-alt"></i></button></a>
									<a th:href="'/user/sites/deleteComment/' + ${comment.id}"><button class="btn-danger"><i class="fa fa-trash"></i></button></a>
								</div>
							</div>
							<div th:if="${comment.createdBy.username == session.authUser.username}" class="row float-right text-right">
								<div class="float-right">
									<a th:href="'/user/sites/modifyComment/' + ${comment.id}"><button class="btn-primary"><i class="fa fa-pencil-alt"></i></button></a>
									<a th:href="'/user/sites/deleteComment/' + ${comment.id}"><button class="btn-danger"><i class="fa fa-trash"></i></button></a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<br>
		</th:block>
		<hr/>
		<div th:if="${session.authUser != null}" class="card">
			<div class="card-header">
				Ajouter une commentaire<br>
			</div>
			<div class="card-body">
				<form class="form-signin col-sm-12" th:action="'/user/sites/newComment/' + ${site.id}" th:object="${newComment}" method="POST">
					<div class="form-group">
						<label th:for="${newComment.text}">Contenu</label>
						<textarea th:field="*{text}" class="form-control" rows="3"></textarea>
					</div>
					<button class="btn btn-lg btn-primary btn-block" type="submit">Soumettre commentaire</button>
				</form>
			</div>
		</div>
	</div>
</section>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="../../js/bootstrap.js" th:href="@{/js/bootstrap.js}"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
</body>
</html>