<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
			xmlns:spanth="http://www.w3.org/1999/html">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
	<meta name="description" content="">
	<meta name="author" content="">
	<link rel="icon" href="../static/favicon.ico"/>
	
	<title>Climb4U</title>
	
	<!-- Bootstrap core CSS -->
	<link href="../static/css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
	<link href="../static/css/bootstrap.css" rel="stylesheet" th:href="@{/css/default.css}"/>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
</head>
<body>

	<div th:replace="fragments/header :: header">...</div>
	<div class="spaceBreaker"></div>

	<section class="page-section shadow ashGrey">
		<div class="container">
			<form action="#" method="post" th:object="${siteSearch}">
				<div class="form-row">
					<div class="form-group col-md-6">
						<select class="form-control" th:field="*{departmentId}">
							<option value="">Département</option>
							<th:block th:each="department: ${departmentList}">
								<option th:value="${department.id}" th:text="${department.numDepartment + ' - ' + department.name}">[...]</option>
							</th:block>
						</select>
					</div>
					<div class="form-group col-md-6">
						<select class="form-control" th:field="*{siteId}">
							<option value="">Site</option>
							<th:block th:each="siteSelect: ${siteList}">
								<option th:value="${siteSelect.id}" th:text="${siteSelect.name}">[...]</option>
							</th:block>
						</select>
					</div>
				</div>
				<div class="collapse" id="additionalOptions">
					<div class="form-row">
						<div class="form-group col-md-3">
							<select class="form-control" th:field="*{type}">
								<option value="">Type</option>
								<option value="Falaise">Falaise</option>
								<option value="Bloc">Bloc</option>
							</select>
						</div>
						<div class="form-group col-md-3">
							<select class="form-control" th:field="*{diffMin}">
								<option value="0">Cotation Min.</option>
								<th:block th:each="i: ${#numbers.sequence(3,9)}">
									<option th:value="${i}" th:text="${i}">[...]</option>
								</th:block>
							</select>
						</div>
						<div class="form-group col-md-3">
							<select class="form-control" th:field="*{diffMax}">
								<option value="0">Cotation Max.</option>
								<th:block th:each="i: ${#numbers.sequence(3,9)}">
									<option th:value="${i}" th:text="${i}">[...]</option>
								</th:block>
							</select>
						</div>
						<div class="form-group col-md-3">
							<select class="form-control" th:field="*{official}">
								<option value="">Officiel Amis d'escalade</option>
								<option value="true">Officiel</option>
								<option value="false">Non-officiel</option>
							</select>
						</div>
					</div>
					<div class="form-row">
						<div class="form-group col-md-4">
							<label th:for="${siteSearch.height}">Height Min.(m)</label>
							<input type="number" class="form-control" th:field="*{height}"/>
						</div>
					</div>
				</div>
				<hr/>
				<div class="align-items-center justify-content-center text-center">
					<input th:field="${siteSearch.init}" th:value="true" hidden>
					<button class="btn btn-light" type="button" data-toggle="collapse" data-target="#additionalOptions">Plusieurs options</button>
					<button type="submit" class="btn btn-primary">Chercher</button>
				</div>
				<div th:if="${session.authUser}" class="float-right">
					<a href="/user/sites/new"><button type="button" class="btn btn-light"><i class="fa fa-plus"></i> Nouveau site</button></a>
				</div>
			</form>
		</div>
	</section>
	
	<section class="page-section">
		<div class="container">
			<div class="alert alert-success alert-dismissible fade show" role="alert" th:if="${deletedSite}">
				<strong th:text="${deletedSite}">[...]</strong> supprimé avec succès!
				<button type="button" class="close" data-dismiss="alert" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<h1 class="display-4">Sites</h1>
			<p><i><span th:text="${siteCount}">[...]</span> disponibles</i></p>
			<hr/>
			<div class="row">
				<th:block th:each="site : ${queryResult}">
					<div class="col-sm-3">
						<div class="card">
							<img class="card-img-top" th:src="${site.coverImage}" th:alt="'CoverImage' + ${site.id}">
							<div class="card-body">
								<h5 class="card-title"><span th:text="${site.name}"></span> <span th:if="${site.official}"><i class="fa fa-star"></i></span></h5>
								<div class="card-text">
									<p>
										<b>Department:</b> <span th:text="${site.department.name}">[...]</span><br>
										<b>Height:</b> <span th:text="${site.height}">[...]</span><br>
										<b>Type:</b> <span th:text="${site.type}">[...]</span><br>
										<b>Cotation:</b> <span th:text="${site.getMinDiff() + ' - ' + site.getMaxDiff()}">[...]</span><br>
									</p>
								</div>
								<a th:href="'/sites/' + ${site.id}" class="btn btn-primary">Ouvrir</a>
							</div>
						</div>
					</div>
				</th:block>
			</div>
		</div>
	</section>
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="../js/bootstrap.js" th:href="@{/js/bootstrap.js}"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
</body>
</html>