<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
	<meta name="description" content="">
	<meta name="author" content="">
	<link rel="icon" href="../static/favicon.ico"/>
	
	<title>Climb4U</title>
	
	<!-- Bootstrap core CSS -->
	<link href="../static/css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
	<link href="../static/css/bootstrap.css" rel="stylesheet" th:href="@{/css/default.css}"/>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
</head>
<body>

<div th:replace="fragments/header :: header">...</div>

<div class="spaceBreaker"></div>
	<section class="page-section">
		<div class="container">
			<h1 class="display-4">Actualités</h1>
			<div th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')') || #authorization.expression('hasRole(''ROLE_OFFICIAL'')') }" class="float-right">
				<a href="/user/news/new"><button type="button" class="btn btn-light"><i class="fa fa-plus"></i>Nouvelle actuelite</button></a>
			</div>
			<div class="spaceBreaker"></div>
			<div th:if="${newsList}">
				<th:block th:each="news : ${newsList}">
					<h3 th:text="${news.title}">[...]</h3>
					<p th:text="${news.content}">[...]</p>
					<div th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')') || #authorization.expression('hasRole(''ROLE_OFFICIAL'')') }" class="row float-right text-right">
						<div class="float-right">
							<a th:href="'/user/news/modifyNews/' + ${news.id}"><button class="btn-primary"><i class="fa fa-pencil-alt"></i></button></a>
							<a th:href="'/user/news/deleteNews/' + ${news.id}"><button class="btn-danger"><i class="fa fa-trash"></i></button></a>
						</div>
					</div>
					<br>
					<hr/>
				</th:block>
			</div>
			<div th:unless="${newsList}">Aucune info a ete créé</div>
		</div>
	</section>
	
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="../js/bootstrap.js" th:href="@{/js/bootstrap.js}"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
</body>
</html>