<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
	<meta name="description" content="">
	<meta name="author" content="">
	<link rel="icon" href="../../static/favicon.ico"/>
	
	<title>Climb4U</title>
	
	<!-- Bootstrap core CSS -->
	<link href="../static/css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
	<link href="../static/css/bootstrap.css" rel="stylesheet" th:href="@{/css/default.css}"/>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
</head>
<body>

<div th:replace="fragments/header :: header">...</div>
<div class="spaceBreaker"></div>

<section class="page-section shadow ashGrey">
	<div class="container">
		<h1 class="h3 mb-3 font-weight-normal">Modifier <span th:text="${modifyReview.title}"></span></h1>
		<form class="form-signin col-sm-12" action="#" method="POST" th:object="${modifyReview}">
			
			<div class="form-row">
				<div class="form-group col-md-8">
					<label th:for="${modifyReview.title}">Titre</label>
					<input th:field="*{title}" class="form-control" required>
				</div>
				
				<div class="form-group col-md-4">
					<label th:for="${modifyReview.value}">Evaluation</label>
					<select th:field="*{value}" class="form-control col-md-5">
						<th:block th:each="i: ${#numbers.sequence(1,5)}">
							<option th:value="${i}" th:text="${i} + ' etoiles'">[...]</option>
						</th:block>
					</select>
				</div>
			</div>
			
			<div class="form-group">
				<label th:for="${modifyReview.details}">Description</label>
				<textarea th:field="*{details}" class="form-control" rows="3"></textarea>
			</div>
			<button class="btn btn-lg btn-primary btn-block" type="submit">Soumettre commentaire</button>
		</form>
	</div>
</section>

<section class="page-section">
</section>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="../../js/bootstrap.js" th:href="@{/js/bootstrap.js}"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
</body>
</html>