<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top" th:fragment="header">
	<div class="container">
		<a class="navbar-brand" href="/">
			<img src="../static/img/climb4u.png" th:src="@{/img/climb4u.png}" alt="Climb4U" style="max-width: 50px; max-height: 25px;">
			<span class="ml-1">Climb4U</span>
		</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<i class="fas fa-bars"></i>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto pt-3 pt-lg-0">
				<li class="nav-item">
					<a class="nav-link" href="/topos/">Topos</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/sites/">Sites</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/news/">Actualités</a>
				</li>
			</ul>
			<ul class="navbar-nav pb-3 pb-lg-0">
				<li class="nav-item">
					<a class="nav-link" href="/login" th:unless="${session.authUser}">Se connecter/S'inscrire</a>
				</li>
			</ul>
			<ul class="navbar-nav pb-3 pb-lg-0" th:if="${session.authUser}">
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						<img th:if="${session.authUser.profileImage}" th:src="${session.authUser.profileImage}" alt="Climber" style="max-width: 50px; max-height: 50px;">
						<img th:unless="${session.authUser.profileImage}"src="../static/img/climberThumbnail.jpg" th:src="@{/img/climberThumbnail.jpg}" alt="Climber" style="max-width: 50px; max-height: 50px;">
					</a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdown">
						<a class="dropdown-item" th:text="${session.authUser.username}">[...]</a>
						<div class="dropdown-divider"></div>
						<a class="dropdown-item" href="/user/dashboard">Dashboard</a>
						<a class="dropdown-item" href="/logout">Logout</a>
					</div>
				</li>
			</ul>
		</div>
	</div>
</nav>



<iframe
src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3549.1374317854848!2d4.4850423159610235!3d45.22678297909891!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zNDXCsDEzJzM2LjQiTiA0wrAyOScxNC4wIkU!5e1!3m2!1sen!2sfr!4v1558371510216!5m2!1sen!2sfr"
width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>