<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
	<meta name="description" content="">
	<meta name="author" content="">
	<link rel="icon" href="../static/favicon.ico"/>
	
	<title>Climb4U</title>
	
	<!-- Bootstrap core CSS -->
	<link href="../static/css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
	<link href="../static/css/bootstrap.css" rel="stylesheet" th:href="@{/css/default.css}"/>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
</head>
<body>

<div th:replace="fragments/header :: header">...</div>
<div class="spaceBreaker"></div>

<section class="page-section shadow ashGrey">
	<div class="container">
		
		<div class="alert alert-danger alert-dismissible fade show" role="alert" th:if="${errorDifficulty}">
			La cotation minimum ne peut pas etre plus grand que leur maximum!
			<button type="button" class="close" data-dismiss="alert" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
		
		<div class="alert alert-danger alert-dismissible fade show" role="alert" th:if="${errorDate}">
			La date fournie n'est pas dans le bon format ( jj/mm/aaaa )
			<button type="button" class="close" data-dismiss="alert" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
		
		<h1 class="h3 mb-3 font-weight-normal">New Topo</h1>
		<form class="form-signin col-sm-12" action="#" th:object="${newTopo}" method="POST">
			<div class="form-group">
				<label th:for="${newTopo.title}">Titre</label>
				<input th:field="*{title}" class="form-control" required>
			</div>
			
			<div class="form-group">
				<label th:for="${newTopo.site}">Site</label>
				<select class="form-control" th:field="*{site}">
					<th:block th:each="site: ${siteList}">
						<option th:value="${site.id}" th:text="${site.name}">[...]</option>
					</th:block>
				</select>
			</div>
			
			<div class="form-group">
				<label th:for="${newTopo.coverImage}">Image de couverture<i> (<a href="https://imgur.com">imgur</a> est recommendé pour stocker des photos gratuitement)</i></label>
				<input th:field="*{coverImage}" class="form-control" required>
			</div>
			
			<div class="form-group">
				<label th:for="${newTopo.description}">Description</label>
				<textarea th:field="*{description}" class="form-control" rows="3"></textarea>
			</div>
			
			<div class="form-row">
				
				<div class="form-group col-md-2">
					<label th:for="${newTopo.diffMin}">Cotation Min.</label>
					<div class="row">
						<select th:field="*{diffMin}" class="form-control col-md-5">
							<option value="3">3</option>
							<th:block th:each="i: ${#numbers.sequence(4,9)}">
								<option th:value="${i}" th:text="${i}">[...]</option>
							</th:block>
						</select>
						<select th:field="*{diffMinSub}" class="form-control col-md-5">
							<option value="a">a</option>
							<option value="b">b</option>
							<option value="c">c</option>
						</select>
					</div>
				</div>
				
				<div class="form-group col-md-2">
					<label th:for="${newTopo.diffMax}">Cotation Man.</label>
					<div class="row">
						<select th:field="*{diffMax}" class="form-control col-md-5">
							<option value="3">3</option>
							<th:block th:each="i: ${#numbers.sequence(4,9)}">
								<option th:value="${i}" th:text="${i}">[...]</option>
							</th:block>
						</select>
						<select th:field="*{diffMaxSub}" class="form-control col-md-5">
							<option value="a">a</option>
							<option value="b">b</option>
							<option value="c">c</option>
						</select>
					</div>
				</div>

				
				<div class="form-group col-md-3">
					<label th:for="${newTopo.numAscents}">Nombre de voies</label>
					<input th:field="*{numAscents}" class="form-control" required>
				</div>
				
				<div class="form-group col-md-3">
					<label th:for="${newTopo.releaseDate}">Date de parution (jj/mm/aaaa)</label>
					<input th:field="*{releaseDate}" class="form-control" required>
				</div>
			</div>
			
			<button class="btn btn-lg btn-primary btn-block" type="submit">Créé topo</button>
		</form>
	</div>
</section>

<section class="page-section">
</section>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="../../js/bootstrap.js" th:href="@{/js/bootstrap.js}"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
</body>
</html>