<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
	<meta name="description" content="">
	<meta name="author" content="">
	<link rel="icon" href="../static/favicon.ico"/>
	
	<title>Climb4U</title>
	
	<!-- Bootstrap core CSS -->
	<link href="../static/css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
	<link href="../static/css/bootstrap.css" rel="stylesheet" th:href="@{/css/default.css}"/>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
</head>
<body>

<div th:replace="fragments/header :: header">...</div>
<div class="spaceBreaker"></div>

<section class="page-section shadow ashGrey">
	<div class="container">
		<div class="row">
			<a href="/topos/" class="col-sm-2"><i class="fa fa-long-arrow-alt-left"></i> Retour</a></div>
		<br>
		<div class="alert alert-success alert-dismissible fade show" role="alert" th:if="${modified}">
			<strong th:text="${modified}">[...]</strong> modifie avec succès!
			<button type="button" class="close" data-dismiss="alert" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
		<div class="alert alert-success alert-dismissible fade show" role="alert" th:if="${created}">
			<strong th:text="${created}">[...]</strong> créé avec succès!
			<button type="button" class="close" data-dismiss="alert" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
		<div class="alert alert-success alert-dismissible fade show" role="alert" th:if="${availability}">
			Disponibilité de <strong th:text="${availability}">[...]</strong> change avec succès!
			<button type="button" class="close" data-dismiss="alert" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
		<div>
			<h1 th:text="${topo.title}">[...]</h1>
			<hr>
			<br>
			<div class="row">
				<div class="col-md-6 text-center">
					<img th:src="${topo.coverImage}" th:alt="'CoverImage' + ${topo.id}" style="max-width: 100%">
					<div class="spaceBreaker"></div>
				</div>
				<div class="col-md-6">
					<p><b>Description:</b></p>
					<p th:text="${topo.description}"></p>
					<p><b>Site:</b></p>
					<p><a th:href="'/sites/' + ${topo.site.id}" th:text="${topo.site.name}"></a></p>
					<p><b>Date de parution:</b></p>
					<p th:text="${topo.releaseDate}">[...]</p>
				</div>
			</div>
			<br>
			<hr>
			<div class="row">
				<div class="col-md-3">
					<p><b>Difficulté min.:</b> <span th:text="${topo.diffMin} + ${topo.diffMinSub}"></span></p>
				</div>
				<div class="col-md-3">
					<p><b>Difficulté max.:</b> <span th:text="${topo.diffMax} + ${topo.diffMaxSub}"></span></p>
				</div>
				<div class="col-md-3">
					<p><b>Nombre de Voies:</b> <span th:text="${topo.numAscents}"></span></p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-3">
					<p><b>Créé par:</b> <span th:text="${topo.createdBy.username}"></span></p>
				</div>
				<div class="col-md-3">
					<p><b>Disponible:</b>
						<span th:if="${topo.available}">Oui</span>
						<span th:unless="${topo.available}">Non</span>
					</p>
				</div>
				<div class="col-md-3" th:if="${session.authUser != null and session.authUser.id != topo.createdBy.id}">
					<p>
						<a th:href="'/user/topos/requestTopo/' + ${topo.id}" th:if="${topo.available && #lists.size(userRequests) == 0}">
							<button class="btn-primary">Demander Topo</button>
						</a>
						<span th:unless="${topo.available}"><button class="btn-danger" disabled>Topo indisponible</button></span>
					</p>
				</div>
			</div>
			<div class="row float-right" th:if="${session.authUser != null and session.authUser.id == topo.createdBy.id}">
				<a th:href="'/user/topos/toggleVisibility/' + ${topo.id}">
					<button class="btn-danger" th:if="${topo.available}"><i class="fa fa-eye-slash"></i></button>
					<button class="btn-primary" th:unless="${topo.available}"><i class="fa fa-eye"></i></button>
				</a>
				<a th:href="'/user/topos/modifyTopo/' + ${topo.id}"><button class="btn-primary"><i class="fa fa-pencil-alt"></i></button></a>
				<a th:href="'/user/topos/deleteTopo/' + ${topo.id}"><button class="btn-danger"><i class="fa fa-trash"></i></button></a>
			</div>
		</div>
		
		<div class="jumbotron" th:unless="${topo}">
			<span>
				<h3>404 Not found</h3>
				<p>We seem to have lost what you were looking for...</p>
			</span>
		</div>
	</div>
</section>

<section class="page-section" th:if="${session.authUser != null and session.authUser.id == topo.createdBy.id}">
	<div class="container">
		<h1 class="display-4">Demandes</h1>
		<br><br>
		<div th:if="${lendings}" class="text-center">
			<table class="table">
				<tbody>
				<thead class="thead-dark">
					<tr>
						<th scope="col">Demandeur</th>
						<th scope="col">Email</th>
						<th scope="col">Reponse</th>
					</tr>
				</thead>
					<th:block th:each="lending : ${lendings}">
						<tr>
							<td th:text="${lending.taker.username}">[...]</td>
							<td th:text="${lending.taker.email}">[...]</td>
							<td th:if="${lending.answered}">
								<span th:if="${lending.accepted}">accepte</span>
								<span th:unless="${lending.accepted}">refuse</span>
							</td>
							<td th:unless="${lending.answered}">
								<div class="row">
									<div class="col-sm-6">
										<form action="/user/topos/answerTopoRequest" method="post">
											<input type="hidden" name="accepted" value="false" />
											<input type="hidden" name="requestId" th:value="${lending.id}" />
											<input type="hidden" name="topoId" th:value="${topo.id}" />
											<button class="btn-danger" type="submit">refuser</button>
										</form>
									</div>
									<div class="col-sm-6">
										<form action="/user/topos/answerTopoRequest" method="post">
											<input type="hidden" name="accepted" value="true" />
											<input type="hidden" name="requestId" th:value="${lending.id}" />
											<input type="hidden" name="topoId" th:value="${topo.id}" />
											<button class="btn-primary float-right" type="submit">accepter</button>
										</form>
									</div>
								</div>
							</td>
						</tr>
					</th:block>
				</tbody>
			</table>
			<p th:if="${#lists.size(lendings) == 0}"><i>Il n'exist aucunne demande...</i></p>
		</div>
		<div th:unless="${lendings}">Votre topo n'a pas des demandes</div>
	</div>
</section>

<section class="page-section" th:if="${session.authUser != null and session.authUser.id != topo.createdBy.id and !userRequests.isEmpty()}">
	<div class="container">
		<h1 class="display-4">Mes Demandes</h1>
		<div class="text-center">
			<table class="table">
				<tbody>
				<th:block th:each="request : ${userRequests}">
					<tr th:if="${request.answered}">
						<td th:text="${request.creationDate}">[...]</td>
						<td>
							<span th:if="${request.accepted}">Accepte</span>
							<span th:unless="${request.accepted}">Refuse</span>
						</td>
						<td><a th:href="'/user/topos/deleteTopoRequest/' + ${request.id}"><button class="btn-danger"><i class="fa fa-trash"></i></button></a></td>
					</tr>
					<tr th:unless="${request.answered}">
						<td th:text="${request.creationDate}">[...]</td>
						<td><i>Attend reponse du creator du topo (Le contact sera fait par email)</i></td>
						<td><a th:href="'/user/topos/deleteTopoRequest/' + ${request.id}"><button class="btn-danger"><i class="fa fa-trash"></i></button></a></td>
					</tr>
				</th:block>
				</tbody>
			</table>
		</div>
	</div>
</section>

<section class="page-section">
	<div class="container">
		<h1 class="display-4">Evaluations</h1>
		<div th:if="${session.authUser != null and session.authUser.id != topo.createdBy.id and userReview == null}" class="card">
			<div class="card-header">
				Ajouter une evaluation<br>
			</div>
			<div class="card-body">
				<form class="form-signin col-sm-12" th:action="'/user/topos/newReview/' + ${topo.id}" th:object="${newReview}" method="POST">
					<div class="form-row">
						<div class="form-group col-md-8">
							<label th:for="${newReview.title}">Titre</label>
							<input th:field="*{title}" class="form-control" required>
						</div>
						
						<div class="form-group col-md-4">
							<label th:for="${newReview.value}">Evaluation</label>
							<select th:field="*{value}" class="form-control col-md-5">
								<option value="1" selected>1 etoile</option>
								<th:block th:each="i: ${#numbers.sequence(2,5)}">
									<option th:value="${i}" th:text="${i} + ' etoiles'">[...]</option>
								</th:block>
							</select>
						</div>
					</div>
					
					<div class="form-group">
						<label th:for="${newReview.details}">Description</label>
						<textarea th:field="*{details}" class="form-control" rows="3"></textarea>
					</div>
					<button class="btn btn-lg btn-primary btn-block" type="submit">Soumettre evaluation</button>
				</form>
			</div>
		</div>
		<div th:if="${userReview}">
			<h4>Votre evaluation</h4>
			<div class="row align-items-center justify-content-center text-center">
				<div class="card col-md-12">
					<div class="card-body">
						<p>
							<span th:text="${userReview.title}"></span>
							(<th:block th:each="i: ${#numbers.sequence(1,userReview.value)}">
							<i class="fa fa-star"></i>
						</th:block>)<br>
							<i>by <span th:text="${userReview.createdBy.username}"></span></i>
						</p>
						<hr>
						<p class="card-text" th:text="${userReview.details}"></p>
						<div class="float-right">
							<a th:href="'/user/topos/modifyReview/' + ${userReview.id}"><button class="btn-primary"><i class="fa fa-pencil-alt"></i></button></a>
							<a th:href="'/user/topos/deleteReview/' + ${userReview.id}"><button class="btn-danger"><i class="fa fa-trash"></i></button></a>
						</div>
					</div>
				</div>
			</div>
			<br>
			<br>
		</div>
		<hr>
		<div>
			<h4>Toutes les evaluations</h4>
		</div>
		<th:block th:each="review : ${listReview}">
			<div class="row align-items-center justify-content-center text-center">
				<div class="card col-md-12">
					<div class="card-body">
						<p>
							<span th:text="${review.title}"></span>
							(<th:block th:each="i: ${#numbers.sequence(1,review.value)}">
								<i class="fa fa-star"></i>
							</th:block>)<br>
							<i>by <span th:text="${review.createdBy.username}"></span></i>
						</p>
						<hr>
						<p class="card-text" th:text="${review.details}"></p>
					</div>
				</div>
			</div>
			<br>
		</th:block>
		<div th:unless="${#lists.size(listReview) != 0}">
			Ce Topo n'y a pas des evaluations
		</div>
	</div>
</section>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="../../js/bootstrap.js" th:href="@{/js/bootstrap.js}"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
</body>
</html>