<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
			xmlns:spanth="http://www.w3.org/1999/html">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
	<meta name="description" content="">
	<meta name="author" content="">
	<link rel="icon" href="../static/favicon.ico"/>
	
	<title>Climb4U</title>
	
	<!-- Bootstrap core CSS -->
	<link href="../static/css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
	<link href="../static/css/bootstrap.css" rel="stylesheet" th:href="@{/css/default.css}"/>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
</head>
<body>

	<div th:replace="fragments/header :: header">...</div>
	<div class="spaceBreaker"></div>

	<section class="page-section shadow ashGrey">
		<div class="container">
			<div class="alert alert-success alert-dismissible fade show" role="alert" th:if="${deleted}">
				<strong th:text="${deleted}">[...]</strong> supprime avec succès!
				<button type="button" class="close" data-dismiss="alert" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<form action="#" method="post" th:object="${topoSearch}">
				<div class="input-group md-form form-sm form-2 pl-0">
					<input th:field="*{title}" class="form-control my-0 py-1" type="text" placeholder="Search Topos" aria-label="Search Topos">
					<div class="input-group-append">
						<span class="input-group-text amber lighten-3" id="basic-text1"><i class="fas fa-search text-grey" aria-hidden="true"></i></span>
					</div>
				</div>
				<div class="collapse" id="additionalOptions">
					<div class="form-row">
						<div class="form-group col-md-8">
							<label th:for="${topoSearch.site}">Site</label>
							<select class="form-control" th:field="*{site}">
								<option value="">Tous</option>
								<th:block th:each="site : ${siteList}">
									<option th:value="${site.id}" th:text="${site.name} + ' - ( ' + ${#lists.size(site.topoList)} + ' topos )'" th:if="${#lists.size(site.topoList)} > 0">[...]</option>
									<option th:value="${site.id}" th:text="${site.name}" th:unless="${#lists.size(site.topoList)} > 0">[...]</option>
								</th:block>
							</select>
						</div>
						<div class="form-group col-md-2">
							<label th:for="${topoSearch.minAscent}"># Voies Min.</label>
							<input th:field="*{minAscent}" type="number" class="form-control">
						</div>
						<div class="form-group col-md-2">
							<label th:for="${topoSearch.maxAscent}"># Voies Max.</label>
							<input th:field="*{maxAscent}" type="number" class="form-control">
						</div>
						<div class="form-group col-md-2">
							<label th:for="${topoSearch.minDifficulty}">Cotation Min.</label>
							<select th:field="*{minDifficulty}" class="form-control">
								<th:block th:each="i: ${#numbers.sequence(3,9)}">
									<option th:value="${i}" th:text="${i}">[...]</option>
								</th:block>
							</select>
						</div>
						<div class="form-group col-md-2">
							<label th:for="${topoSearch.maxDifficulty}">Cotation Max.</label>
							<select th:field="*{maxDifficulty}" class="form-control">
								<th:block th:each="i: ${#numbers.sequence(3,9)}">
									<option th:value="${i}" th:text="${i}">[...]</option>
								</th:block>
							</select>
						</div>
						<div class="form-group col-md-2">
							<label th:for="${topoSearch.minHeight}">Hauteur Min</label>
							<input th:field="*{minHeight}" type="number" class="form-control">
						</div>
						<div class="form-group col-md-2">
							<label th:for="${topoSearch.maxDifficulty}">Hauteur Max</label>
							<input th:field="*{maxHeight}" type="number" class="form-control">
						</div>
						<div class="form-group col-md-2">
							<label th:for="${topoSearch.available}">Disponibilité</label>
							<select th:field="*{available}" class="form-control">
								<option value="true" selected>Oui</option>
								<option value="false">Non</option>
							</select>
						</div>
					</div>
				</div>
				<br>
				<div class="form-row align-items-center justify-content-center text-center">
					<div class="form-group">
						<button class="btn btn-light" type="button" data-toggle="collapse" data-target="#additionalOptions">Plusieurs options</button>
						<button type="submit" class="btn btn-primary">Chercher</button>
					</div>
				</div>
				<div th:if="${session.authUser}" class="float-right">
					<a href="/user/topos/new"><button type="button" class="btn btn-light"><i class="fa fa-plus"></i> Nouveau topo</button></a>
				</div>
			</form>
		</div>
	</section>
	
	<section class="page-section">
		<div class="container">
			<div class="alert alert-success alert-dismissible fade show" role="alert" th:if="${deletedTopo}">
				<strong th:text="${deletedTopo}">[...]</strong> supprimé avec succès!
				<button type="button" class="close" data-dismiss="alert" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<h1 class="display-4">Topos</h1>
			<p><i><span th:text="${topoCount}">[...]</span> disponibles</i></p>
			<hr/>
			<div class="row">
				<th:block th:each="topo : ${queryResult}">
					<div class="col-sm-3">
						<div class="card">
							<img class="card-img-top" th:src="${topo.coverImage}" th:alt="'CoverImage' + ${topo.id}">
							<div class="card-body">
								<h5 class="card-title" th:text="${topo.title}">[...]</h5>
								<div class="card-text">
									<p>
										<b>Nombre de Voies:</b> <span th:text="${topo.numAscents}"></span><br>
										<b>Difficulté:</b> <span th:text="${topo.diffMin} + ${topo.diffMinSub} + ' - ' + ${topo.diffMax} + ${topo.diffMaxSub}"></span><br>
										<b>Hauteur Max:</b> <span th:text="${topo.height}"></span>m<br>
										<b>Site:</b> <span th:text="${topo.site.name}">[...]</span><br>
									</p>
								</div>
								<a th:href="'/topos/' + ${topo.id}" class="btn btn-primary">Ouvrir</a>
							</div>
						</div>
					</div>
				</th:block>
			</div>
		</div>
	</section>
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="../js/bootstrap.js" th:href="@{/js/bootstrap.js}"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
</body>
</html>