<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
	<meta name="description" content="">
	<meta name="author" content="">
	<link rel="icon" href="../static/favicon.ico"/>
	
	<title>Climb4U</title>
	
	<!-- Bootstrap core CSS -->
	<link href="../static/css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
	<link href="../static/css/bootstrap.css" rel="stylesheet" th:href="@{/css/default.css}"/>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
</head>
<body>

<div th:replace="fragments/header :: header">...</div>
<div class="spaceBreaker"></div>

<section class="page-section shadow ashGrey">
	<div class="container">
		<div>
			<h1>Mes demandes de topos</h1>
			<br>
			<div class="row" th:if="${lendingList}">
				<table class="table">
					<thead class="thead-dark">
					<tr>
						<th scope="col">Topo</th>
						<th scope="col">Date</th>
						<th scope="col">Reponse</th>
						<th scope="col">Lien</th>
					</tr>
					</thead>
					<tbody>
					<th:block th:each="topoLending : ${lendingList}">
						<tr>
							<th th:text="${topoLending.topo.title}">[...]</th>
							<td th:text="${topoLending.creationDate}">[...]</td>
							<td th:if="${topoLending.answered && topoLending.accepted}">accepté</td>
							<td th:if="${topoLending.answered && !topoLending.accepted}">refuse</td>
							<td th:unless="${topoLending.answered}">en attend...</td>
							<td><a th:href="'/topos/' + ${topoLending.topo.id}"><button class="btn-primary">Ouvrir</button></a></td>
						</tr>
					</th:block>
					</tbody>
				</table>
			</div>
			<div class="row text-center" th:unless="${topoList}">
				<p><i>Vous n'avez pas des topos créé</i></p>
			</div>
		</div>
	</div>
</section>

<section class="page-section shadow">
	<div class="container">
		<div>
			<h1>Mes topos</h1>
			<div th:if="${session.authUser}" class="row">
				<a href="/user/topos/new"><button type="button" class="btn btn-dark"><i class="fa fa-plus"></i> Nouveau topo</button></a>
			</div>
			<br>
			<div class="row" th:if="${topoList}">
				<table class="table">
					<thead class="thead-dark">
					<tr>
						<th scope="col">Title</th>
						<th scope="col">Site</th>
						<th scope="col">Disponible</th>
						<th scope="col">Lien</th>
					</tr>
					</thead>
					<tbody>
						<th:block th:each="topo : ${topoList}">
							<tr>
								<th th:text="${topo.title}">[...]</th>
								<td th:text="${topo.site.name}">[...]</td>
								<td th:if="${topo.available}">Oui</td>
								<td th:unless="${topo.available}">Non</td>
								<td><a th:href="'/topos/' + ${topo.id}"><button class="btn-primary">Ouvrir</button></a></td>
							</tr>
						</th:block>
					</tbody>
				</table>
			</div>
			<div class="row text-center" th:unless="${topoList}">
				<p><i>Vous n'avez pas des topos créé</i></p>
			</div>
		</div>
	</div>
</section>

<section class="page-section">
	<div class="container">
		<h1 class="display-4">Mes sites</h1>
		<div th:if="${session.authUser}" class="row">
			<a href="/user/sites/new"><button type="button" class="btn btn-dark"><i class="fa fa-plus"></i> Nouveau site</button></a>
		</div>
		<br>
		<div class="row" th:if="${siteList}" >
			<table class="table">
				<thead class="thead-dark">
				<tr>
					<th scope="col">Nom</th>
					<th scope="col">Departement</th>
					<th scope="col">Visible</th>
					<th scope="col">Lien</th>
				</tr>
				</thead>
				<tbody>
				<th:block th:each="site : ${siteList}">
					<tr>
						<th th:text="${site.name}">[...]</th>
						<td th:text="${site.department.numDepartment + ' - ' + site.department.name}">[...]</td>
						<td th:if="${site.available}">Oui</td>
						<td th:unless="${site.available}">Non</td>
						<td><a th:href="'/sites/' + ${site.id}"><button class="btn-primary">Ouvrir</button></a></td>
					</tr>
				</th:block>
				</tbody>
			</table>
		</div>
		<div class="row text-center" th:unless="${siteList}">
			<p><i>Vous n'avez pas des sites créé</i></p>
		</div>
	</div>
</section>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="../../js/bootstrap.js" th:href="@{/js/bootstrap.js}"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
</body>
</html>