<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
	<meta name="description" content="">
	<meta name="author" content="">
	<link rel="icon" href="../static/favicon.ico"/>
	
	<title>Climb4U</title>
	
	<!-- Bootstrap core CSS -->
	<link href="../static/css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
	<link href="../static/css/bootstrap.css" rel="stylesheet" th:href="@{/css/default.css}"/>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
</head>
<body>

<div th:replace="fragments/header :: header">...</div>

	<section class="mastheadcustom">
		<div class="container h-100">
			<div class="row h-100 align-items-center justify-content-center text-center">
				<div class="col-sm-12">
					<div class="row h-100 align-items-center justify-content-center text-center">
						<h1 style="color: white;">Climb4U</h1>
						<p  class="text-shadows" style="color: white;"><i>Une ressource pour toute l'escalade!</i></p>
					</div>
					<div class="row">
						<div class="col-sm-12 col-md-6" style="margin-top: 20px;">
							<div class="card shadow">
								<img src="../static/img/topoDisplay.jpg" th:src="@{/img/topoDisplay.jpg}" alt="Topo Icon"  style="max-width: 100%; max-height: 400px;">
								<div class="card-body">
									<h5 class="card-title">Notre liste de Topos</h5>
									<div class="card-text">
										<p>
											<span th:text="${topoCount}"></span> Topos disponibles
										</p>
									</div>
									<a href="/topos/" class="btn btn-primary">Ouvrir</a>
								</div>
							</div>
						</div>
						
						<div class="col-sm-12 col-md-6" style="margin-top: 20px;">
							<div class="card shadow-lg">
								<img src="../static/img/mountains.jpg" th:src="@{/img/mountains.jpg}" alt="Site Icon" style="max-width: 100%; max-height: 400px;">
								<div class="card-body">
									<h5 class="card-title">Notre liste de Sites</h5>
									<div class="card-text">
										<p>
											<span th:text="${siteCount}"></span> Sites disponibles
										</p>
									</div>
									<a href="/sites/" class="btn btn-primary">Ouvrir</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="page-section">
		<div class="container">
			<h1 class="display-4">Derniére actualite</h1>
			<hr>
			<div th:if="${latestNews}">
				<h3 th:text="${latestNews.title}">[...]</h3>
				<p th:text="${latestNews.content}">[...]</p>
			</div>
			<div th:unless="${latestNews}">Aucune info a ete créé</div>
		</div>
	</section>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="../js/bootstrap.js" th:href="@{/js/bootstrap.js}"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
</body>
</html>