<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
	<meta name="description" content="">
	<meta name="author" content="">
	<link rel="icon" href="../static/favicon.ico"/>
	
	<title>Climb4U - Login</title>
	
	<!-- Bootstrap core CSS -->
	<link href="../static/css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
	<link href="../static/css/bootstrap.css" rel="stylesheet" th:href="@{/css/default.css}"/>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
</head>
<body>

<div th:replace="fragments/header :: header">...</div>

<header class="masthead bottom-inner-shade">
	<div class="container h-100">
		<div class="row h-100 align-items-center justify-content-center text-center">
			<form class="form-signin col-md-6 col-sm-12" th:action="@{/login}" method="post">
				<div class="card">
					<div class="card-body">
						<h1 class="h3 mb-3 font-weight-normal">Se connecter</h1>
						<div class="form-group">
						<label for="username" class="sr-only">Nom d'utilisateur</label>
						<input type="text" id="username" name="username" class="form-control" placeholder="Nom d'utilisateur*" required autofocus>
						</div>
						<div class="form-group">
						<label for="password" class="sr-only">Mot de passe</label>
						<input type="password" id="password" name="password" class="form-control" placeholder="Mot de passe*" required>
						</div>
						<p th:if="${param.error}" class="text-left input-error">Email ou mot de passe incorrect.</p>
						<div class="row">
						<div class="checkbox col-6">
							<label>
								Pas de compte? Créé une <a href="/register">ici</a>
							</label>
						</div>
						</div>
						<button class="btn btn-lg btn-primary btn-block" type="submit">Se connecter</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</header>
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="../js/bootstrap.js" th:href="@{/js/bootstrap.js}"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
</body>
</html>