<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
	<meta name="description" content="">
	<meta name="author" content="">
	<link rel="icon" href="../static/favicon.ico"/>
	
	<title>Climb4U - Registration</title>
	
	<!-- Bootstrap core CSS -->
	<link href="../static/css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
	<link href="../static/css/bootstrap.css" rel="stylesheet" th:href="@{/css/default.css}"/>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
</head>
<body>

<div th:replace="fragments/header :: header">...</div>

<header class="masthead bottom-inner-shade">
	<div class="container h-100">
		<div class="row h-100 align-items-center justify-content-center text-center">
			<form class="form-signin col-md-6 col-sm-12" action="#" th:object="${user}" method="POST">
				<div class="card">
					<div class="card-body">
						<h1 class="h3 mb-3 font-weight-normal">Formulaire d'enregistremente</h1>
						
						<div class="form-group">
							<label th:for="${user.username}" class="sr-only">Nom d'utilisateur</label>
							<input th:field="*{username}" class="form-control" placeholder="Nom d'utilisateur*" required>
							<p th:each="error: ${#fields.errors('username')}" th:text="${error}" class="text-left input-error">Validation error</p>
						</div>
						
						<div class="form-group">
							<label th:for="${user.email}" class="sr-only">Email</label>
							<input type="email" th:field="*{email}" class="form-control" placeholder="Email*" required autofocus>
							<p th:each="error: ${#fields.errors('email')}" th:text="${error}" class="text-left input-error">Validation error</p>
						</div>
						
						<div class="form-group">
							<label th:for="${user.emailConfirmation}" class="sr-only">Confirmation d'Email</label>
							<input type="email" th:field="*{emailConfirmation}" class="form-control" placeholder="Confirmation d'Email*" required>
							<p th:each="error: ${#fields.errors('emailConfirmation')}" th:text="${error}" class="text-left input-error">Validation error</p>
						</div>
						
						<div class="form-group">
							<label th:for="${user.password}" class="sr-only">Mot de passe</label>
							<input type="password" th:field="*{password}" class="form-control" placeholder="Mot de passe*" required>
							<p th:each="error: ${#fields.errors('password')}" th:text="${error}" class="text-left input-error">Validation error</p>
						</div>
						
						<div class="form-group">
							<label th:for="${user.passwordConfirmation}" class="sr-only">Confirmation de mot de passe</label>
							<input type="password" th:field="*{passwordConfirmation}" class="form-control" placeholder="Confirmation de mot de passe*" required>
							<p th:each="error: ${#fields.errors('passwordConfirmation')}" th:text="${error}" class="text-left input-error">Validation error</p>
						</div>
						
						<button class="btn btn-lg btn-primary btn-block" type="submit">Enregistrer</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</header>
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="../js/bootstrap.js" th:href="@{/js/bootstrap.js}"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
</body>
</html>