<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
	<meta name="description" content="">
	<meta name="author" content="">
	<link rel="icon" href="../../static/favicon.ico"/>
	
	<title>Climb4U</title>
	
	<!-- Bootstrap core CSS -->
	<link href="../static/css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
	<link href="../static/css/bootstrap.css" rel="stylesheet" th:href="@{/css/default.css}"/>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
</head>
<body>

<div th:replace="fragments/header :: header">...</div>
<div class="spaceBreaker"></div>

<section class="page-section shadow ashGrey">
	<div class="container">
		<h1 class="h3 mb-3 font-weight-normal">Modifier <span th:text="${modifyAscent.name}"></span></h1>
		<form action="#" th:object="${modifyAscent}" method="POST">
			<div class="form-row">
				<div class="form-group col-md-2">
					<label th:for="${modifyAscent.numeration}">Ref.</label>
					<input type="number" min="1" step="0.1" th:field="*{numeration}" class="form-control" required>
				</div>
				
				<div class="form-group col-md-4">
					<label th:for="${modifyAscent.name}">Nom</label>
					<input th:field="*{name}" class="form-control" required>
				</div>
				
				<div class="form-group col-md-2">
					<label th:for="${modifyAscent.height}">Hauteur</label>
					<input type="number" th:field="*{height}" class="form-control" required>
				</div>
				
				<div class="form-group col-md-4">
					<label th:for="${modifyAscent.difficulty}">Cotation</label>
					<div class="row">
						<select th:field="*{difficulty}" class="form-control col-md-5">
							<option value="3">3</option>
							<th:block th:each="i: ${#numbers.sequence(4,9)}">
								<option th:value="${i}" th:text="${i}">[...]</option>
							</th:block>
						</select>
						<select th:field="*{subDifficulty}" class="form-control col-md-5">
							<option value="a">a</option>
							<option value="b">b</option>
							<option value="c">c</option>
						</select>
					</div>
				</div>
			</div>
			<div>
				<button class="btn btn-lg btn-primary btn-block" type="submit"><i class="fa fa-plus"></i> Modifier voie</button>
			</div>
		</form>
	</div>
</section>

<section class="page-section">
</section>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="../../js/bootstrap.js" th:href="@{/js/bootstrap.js}"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
</body>
</html>