<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
	<meta name="description" content="">
	<meta name="author" content="">
	<link rel="icon" href="../static/favicon.ico"/>
	
	<title>Climb4U</title>
	
	<!-- Bootstrap core CSS -->
	<link href="../static/css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
	<link href="../static/css/bootstrap.css" rel="stylesheet" th:href="@{/css/default.css}"/>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
</head>
<body>

<div th:replace="fragments/header :: header">...</div>
<div class="spaceBreaker"></div>

<section class="page-section shadow ashGrey">
	<div class="container">
		<div class="row">
			<a th:href="'/sites/' + ${sector.site.id}" class="col-sm-2"><i class="fa fa-long-arrow-alt-left"></i> Retour</a></div>
		<br>
		<div class="alert alert-success alert-dismissible fade show" role="alert" th:if="${created}">
			<strong th:text="${created}">[...]</strong> créé avec succès!
			<button type="button" class="close" data-dismiss="alert" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
		<div class="alert alert-success alert-dismissible fade show" role="alert" th:if="${visibility}">
			La visibilite de <strong th:text="${visibility}">[...]</strong> a ete change avec succès!
			<button type="button" class="close" data-dismiss="alert" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
		<div class="alert alert-success alert-dismissible fade show" role="alert" th:if="${modified}">
			<strong th:text="${modified}">[...]</strong> a ete mis a jour avec succès!
			<button type="button" class="close" data-dismiss="alert" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
		<div>
			<h1 th:text="${sector.site.name}">[...]</h1>
			<h3>Sector <span th:text="${sector.name}">[...]</span></h3>
			<hr>
			<br>
			<div class="row">
				<div class="col-sm-12 text-center">
					<img th:src="${sector.ascentImage}" th:alt="'CoverImage' + ${sector.id}" style="max-width: 100%; max-height: 500px;">
				</div>
			</div>
		</div>
		
		<div class="jumbotron" th:unless="${sector}">
			<span>
				<h3>404 Not found</h3>
				<p>We seem to have lost what you were looking for...</p>
			</span>
		</div>
	</div>
</section>

<section class="page-section">
	<div class="container">
		<h1 class="display-4">Voies</h1>
		<hr/>
		<table class="table">
			<thead class="thead-dark">
			<tr>
				<th scope="col">Ref</th>
				<th scope="col">Nom</th>
				<th scope="col">Cotation</th>
				<th scope="col">Hauteur</th>
				<th scoper="col"  th:if="${session.authUser != null and session.authUser.id == sector.site.createdBy.id}">Options</th>
			</tr>
			</thead>
			<tbody>
			<th:block th:each="ascent : ${sector.ascentList}">
				<tr>
					<th scope="row" th:text="${ascent.numeration}"></th>
					<td th:text="${ascent.name}"></td>
					<td th:text="${ascent.difficulty} + ${ascent.subDifficulty}"></td>
					<td th:text="${ascent.height}"></td>
					<td th:if="${session.authUser != null and session.authUser.id == sector.site.createdBy.id}">
						<a th:href="'/user/sites/sectors/ascent/modify/' + ${ascent.id}"><button class="btn-primary"><i class="fa fa-pencil-alt"></i></button></a>
						<a th:href="'/user/sites/sectors/ascent/delete/' + ${ascent.id}"><button class="btn-danger"><i class="fa fa-trash"></i></button></a>
					</td>
				</tr>
			</th:block>
			</tbody>
		</table>
		
		<div th:if="${session.authUser}">
			<form th:action="'/user/sites/sectors/' + ${sector.id} + '/newAscent'" th:object="${newAscent}" method="POST">
				<div class="form-row">
					<div class="form-group col-md-2">
						<label th:for="${newAscent.numeration}">Ref.</label>
						<input type="number" min="1" step="0.1" th:field="*{numeration}" class="form-control" required>
					</div>
					
					<div class="form-group col-md-4">
						<label th:for="${newAscent.name}">Nom</label>
						<input th:field="*{name}" class="form-control" required>
					</div>
					
					<div class="form-group col-md-2">
						<label th:for="${newAscent.height}">Hauteur</label>
						<input type="number" th:field="*{height}" class="form-control" required>
					</div>
					
					<div class="form-group col-md-4">
						<label th:for="${newAscent.difficulty}">Cotation</label>
						<div class="row">
							<select th:field="*{difficulty}" class="form-control col-md-5">
								<option value="3">3</option>
								<th:block th:each="i: ${#numbers.sequence(4,9)}">
									<option th:value="${i}" th:text="${i}">[...]</option>
								</th:block>
							</select>
							<select th:field="*{subDifficulty}" class="form-control col-md-5">
								<option value="a">a</option>
								<option value="b">b</option>
								<option value="c">c</option>
							</select>
						</div>
					</div>
				</div>
				<div>
					<button class="btn btn-lg btn-primary btn-block" type="submit"><i class="fa fa-plus"></i> Nouvelle voie</button>
				</div>
			</form>
	</div>
</section>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="../../js/bootstrap.js" th:href="@{/js/bootstrap.js}"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
</body>
</html>